.ContactData {
  margin: 20px auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 3px #ccc;
  justify-content: space-around;
  border-radius: 6px;
}

.ContactData button {
  width: 100%;
}

@media (min-width: 500px) {
  .ContactData {
    width: 500px;
  }
}
